@page "/carpet"
@inherits CarpetListBase

@if (Carpets != null)
{
    <div class="flex-wrap flex p-2">
        @foreach (var Carpet in Carpets)
        {
            <div class="border-black border-2 w-56 break-words rounded-md p-2 m-1" style="background-image: url(/Images/@Carpet.Image)">
                <div class="mb-1 border-black border-2 w-min break-words rounded-md p-1 text-2xl font-extrabold bg-gray-200"><button @onclick="@(() => ShowCarpetModal(Carpet.Id))">@Carpet.Name</button></div>
                <div class="mb-1 border-black border-2 w-min rounded-md bg-white font-semibold">Brand: @Carpet.Brand</div>
                <div class="mb-1 border-black border-2 w-min rounded-md bg-white font-semibold">Style: @Carpet.Style</div>
                <div class="mb-1 border-black border-2 w-min rounded-md bg-white font-semibold">Description: @Carpet.Description</div>
                <div class="border-black border-2 w-min rounded-md bg-white font-semibold">Price: @Carpet.SquareYardPrice.ToString("$#.##")</div>
            </div>
        }
    </div>
    <div>
        <button class="p-2 rounded-md border-2 border-gray-700 bg-gray-200" @onclick="ShowAddCarpetModal">Add Carpet</button>
    </div>
}
else
{
    <span>Loading...</span>
}
