@page "/carpet"
@inherits CarpetListBase

@if (Carpets != null)
{
    <div class="flex-wrap">
        @foreach (var Carpet in Carpets)
        {
            <div class="border-black border-2 w-1/3 break-words rounded-md p-2 flex">
                <img class="px-2" src="/Images/@Carpet.Image" width="200" />
                <div>
                    <div class="border-black border-2 w-min break-words rounded-md p-1 text-2xl font-extrabold bg-gray-200"><button @onclick="@(() => ShowCarpetModal(Carpet.Id))">@Carpet.Name</button></div>
                    <div class="font-semibold">Brand: @Carpet.Brand</div>
                    <div class="font-semibold">Style: @Carpet.Style</div>
                    <div class="font-semibold">Description: @Carpet.Description</div>
                    <div class="font-semibold">Price: @Carpet.SquareYardPrice.ToString("$#.##")</div>
                </div>
            </div>
        }
    </div>
    <div>
        <button class="p-2 rounded-md border-2 border-gray-700 bg-gray-200" @onclick="ShowAddCarpetModal">Add Carpet</button>
    </div>
}
else
{
    <span>Loading...</span>
}
