@inherits ViewOneCarpetBase

@if (Carpet != null)
{
    <div>
        <div>@Carpet.Name</div>
        <div>@Carpet.Brand</div>
        <div>@Carpet.Style</div>
        <div>@Carpet.Description</div>
        <div>@Carpet.SquareYardPrice.ToString("$#.##")</div>
    </div>
    <br />
}
else
{
    <span>Loading...</span>
}