@inherits ViewOneCarpetBase

@if (Carpet != null)
{
    <div>
        <div class="font-semibold">Name: @Carpet.Name</div>
        <div class="font-semibold">Brand: @Carpet.Brand</div>
        <div class="font-semibold">Style: @Carpet.Style</div>
        <div class="font-semibold">Description: @Carpet.Description</div>
        <div class="font-semibold">Yard Price: @Carpet.SquareYardPrice.ToString("$#.##")</div>
    </div>
}
else
{
    <span>Loading...</span>
}